<h1 class='single-user-tweets-title'><%= @user.username %>'s Tweets</h1>

<%= render @user.tweets.order(created_at: :desc) %>

<div class='user-tweets-back-link'>
    <%= link_to 'Back', tweets_path %>
</div>
